{% if includes is defined %}
{%   for I in includes %}
#include "{{ I }}.inc"
{%   endfor %}
{% endif %}

{% if camera is defined %}
camera {
{%   if camera.sky is defined %}
{%     if camera.sky.vector is defined %}
  sky {{ camera.sky.vector }}
{%     endif %}
{%   endif %}
{%   if camera.direction is defined %}
{%     if camera.direction.vector is defined %}
  direction {{ camera.direction.vector }}
{%     endif %}
{%   endif %}
{%   if camera.right is defined %}
{%     if camera.right.vector is defined %}
  right {{ camera.right.vector }}
{%     endif %}
{%   endif %}
{%   if camera.location is defined %}
{%     if camera.location.vector is defined %}
  location {{ camera.location.vector }}
{%     endif %}
{%   endif %}
{%   if camera.look_at is defined %}
{%     if camera.look_at.vector is defined %}
  look_at {{ camera.look_at.vector }}
{%     endif %}
{%   endif %}
{%   if camera.angle is defined %}
  angle {{ camera.angle }}
{%   endif %}
}
{% endif %}

{% if globals is defined %}
global_settings {
{%   for G in globals | dict2items %}
  {{ G.key }} {{ G.value }}
{%   endfor %}
}
{% endif %}

{% if lights is defined %}
{%   for L in lights %}
light_source {
{%     if L.location.vector is defined %}
  {{ L.location.vector }}
{%     endif %}
  color {{ L.color }}
}
{%   endfor %}
{% endif %}

{% if background is defined %}
background {
  color {{ background.color }}
}
{% endif %}

{% if declares is defined %}
{%   for D in declares %}
#declare {{ D.name }} = {% if D.content.type == 'vector' %}{{ D.content.vector }};
{% endif %}
{%     if D.content.type == 'polygon' %}
polygon {
  {{ D.content.points | length }}{% for P in D.content.points %}, {{ P }}{% endfor %}

}
{%     endif %}
{%     if D.content.type == 'object' %}
object {
{%     if D.content.union is defined %}
  union {
{%       for O in D.content.union %}
    object{ {{ O }} }
{%       endfor %}
  }
{%       if D.texture is defined %}
  texture { {{ D.texture }} }
{%       endif %}
{%     endif %}
}
{%     endif %}
{%     if D.content.type == 'box' %}
box {
  {{ D.content.corner_1 }}
  {{ D.content.corner_2 }}
}
{%     endif %}
{%     if D.content.type == 'plane' %}
plane {
  {{ D.content.normal }}, {{ D.content.distance }}
{%       if D.texture is defined %}
  texture { {{ D.texture }} }
{%       endif %}
}
{%     endif %}
{%     if D.content.type == 'texture' %}
texture {
{%       if D.content.finish is defined %}
  finish {
{%         if D.content.finish.ambient is defined %}
    ambient {{ D.content.finish.ambient }}
{%         endif %}
{%         if D.content.finish.diffuse is defined %}
    diffuse {{ D.content.finish.diffuse }}
{%         endif %}
{%         if D.content.finish.reflection is defined %}
    reflection {{ D.content.finish.reflection }}
{%         endif %}
{%         if D.content.finish.specular is defined %}
    specular {{ D.content.finish.specular }}
{%         endif %}
{%         if D.content.finish.roughness is defined %}
    roughness {{ D.content.finish.roughness }}
{%         endif %}
  }
{%       endif %}
{%       if D.content.pigment is defined %}
  pigment {
{%         if D.content.pigment.color is defined %}
    color {{ D.content.pigment.color }}
{%         endif %}
  }
{%       endif %}
}
{%     endif %}
{%   endfor %}
{% endif %}

{% if scene is defined %}
{%   for O in scene %}
{{ O.type }} {
{%     if O.type == 'background' %}
  color {{ O.color }}
{%     endif %}
{%     if O.type == 'object' %}
  {{ O.object }}
{%     endif %}
{%     if O.type == 'plane' %}
  {{ O.normal }}, {{ O.distance }}
{%     endif %}
{%     if O.type == 'sphere' %}
  {{ O.location }}, {{ O.threshold }}
{%     endif %}
{%     if O.type == 'cylinder' %}
  {{ O.end_1 }}, {{ O.end_2 }}, {{ O.radius }}
{%     endif %}
{%     if O.translate is defined %}
  translate {{ O.translate }}
{%     endif %}
{%     if O.texture is defined %}
  texture { {{ O.texture }} }
{%     endif %}
{%     if O.interior is defined %}
  interior { {{ O.interior }} }
{%     endif %}
}
{%   endfor %}
{% endif %}
