{%- macro m_color(c) -%}

  color {{ c }}

{%- endmacro -%}
{%- macro m_includes(i) -%}

{%   for I in i %}
#include "{{ I }}.inc"
{%   endfor %}

{%- endmacro -%}
{%- macro m_camera(c) -%}

camera {
{%   if c.sky is defined %}
{%     if c.sky.vector is defined %}
  sky {{ c.sky.vector }}
{%     endif %}
{%   endif %}
{%   if c.direction is defined %}
{%     if c.direction.vector is defined %}
  direction {{ c.direction.vector }}
{%     endif %}
{%   endif %}
{%   if c.right is defined %}
{%     if c.right.vector is defined %}
  right {{ c.right.vector }}
{%     endif %}
{%   endif %}
{%   if c.location is defined %}
{%     if c.location.vector is defined %}
  location {{ c.location.vector }}
{%     endif %}
{%   endif %}
{%   if c.look_at is defined %}
{%     if c.look_at.vector is defined %}
  look_at {{ c.look_at.vector }}
{%     endif %}
{%   endif %}
{%   if c.angle is defined %}
  angle {{ c.angle }}
{%   endif %}
}

{%- endmacro -%}
{%- macro m_globals(g) -%}

global_settings {
{%   for G in g | dict2items %}
  {{ G.key }} {{ G.value }}
{%   endfor %}
}

{%- endmacro -%}
{%- macro m_light(l) -%}

light_source {
{%     if l.location.vector is defined %}
  {{ l.location.vector }}
{%     endif %}
  {{ m_color(l.color) }}
}

{%- endmacro -%}
{%- macro m_background(b) -%}

background {
  {{ m_color(b.color) }}
}

{%- endmacro -%}
{%- macro m_declares(d) -%}

{%   for D in d %}
#declare {{ D.name }} = {% if D.content.type == 'vector' %}{{ D.content.vector }};
{% endif %}
{%     if D.content.type == 'polygon' %}
polygon {
  {{ D.content.points | length }}{% for P in D.content.points %}, {{ P }}{% endfor %}

}
{%     endif %}
{%     if D.content.type == 'object' %}
object {
{%       if D.content.union is defined %}
  union {
{%         for O in D.content.union %}
    object{ {{ O }} }
{%         endfor %}
  }
{%       endif %}
{%       if D.content.intersection is defined %}
  intersection {
{%         for O in D.content.intersection %}
    object{ {{ O }} }
{%         endfor %}
  }
{%       endif %}
{%       if D.texture is defined %}
  texture { {{ D.texture }} }
{%       endif %}
}
{%     endif %}
{%     if D.content.type == 'box' %}
box {
  {{ D.content.corner_1 }},
  {{ D.content.corner_2 }}
{%       if D.texture is defined %}
  texture { {{ D.texture }} }
{%       endif %}
}
{%     endif %}
{%     if D.content.type == 'plane' %}
plane {
  {{ D.content.normal }}, {{ D.content.distance }}
{%       if D.texture is defined %}
  texture { {{ D.texture }} }
{%       endif %}
}
{%     endif %}
{%     if D.content.type == 'texture' %}
texture {
{%       if D.content.finish is defined %}
  finish {
{%         if D.content.finish.ambient is defined %}
    ambient {{ D.content.finish.ambient }}
{%         endif %}
{%         if D.content.finish.diffuse is defined %}
    diffuse {{ D.content.finish.diffuse }}
{%         endif %}
{%         if D.content.finish.reflection is defined %}
    reflection {{ D.content.finish.reflection }}
{%         endif %}
{%         if D.content.finish.specular is defined %}
    specular {{ D.content.finish.specular }}
{%         endif %}
{%         if D.content.finish.roughness is defined %}
    roughness {{ D.content.finish.roughness }}
{%         endif %}
  }
{%       endif %}
{%       if D.content.pigment is defined %}
  pigment {
{%         if D.content.pigment.color is defined %}
    {{ m_color(D.content.pigment.color) }}
{%         endif %}
  }
{%       endif %}
}
{%     endif %}
{%   endfor %}

{%- endmacro -%}
{%- macro m_scene(s) -%}

{%   for O in s %}
{{ O.type }} {
{%     if O.type == 'background' %}
  {{ m_color(O.color) }}
{%     endif %}
{%     if O.type == 'object' %}
  {{ O.object }}
{%     endif %}
{%     if O.type == 'union' %}
{%       for O2 in O.content %}
{%         if O2.type == 'polygon' %}
  polygon { {{ O2.points | length }}{% for P in O2.points %}, {{ P }}{% endfor %} }
{%         endif %}
{%         if O2.type == 'cylinder' %}
  cylinder {
    {{ O2.end_1 }}, {{ O2.end_2 }},
    {{ O2.radius }}
{%           if O2.texture is defined %}
    texture { {{ O2.texture }} }
{%           endif %}
  }
{%         endif %}
{%       endfor %}
{%     endif %}
{%     if O.type == 'intersection' %}
{%       for O2 in O.content %}
{%         if O2.type == 'cylinder' %}
  cylinder {
    {{ O2.end_1 }}, {{ O2.end_2 }},
    {{ O2.radius }}
{%           if O2.texture is defined %}
    texture { {{ O2.texture }} }
{%           endif %}
  }
{%         endif %}
{%         if O2.type == 'object' %}
    object { {{ O2.object }} }
{%         endif %}
{%       endfor %}
{%     endif %}
{%     if O.type == 'plane' %}
  {{ O.normal }}, {{ O.distance }}
{%     endif %}
{%     if O.type == 'box' %}
  {{ O.corner_1 }}, {{ O.corner_2 }}
{%     endif %}
{%     if O.type == 'cone' %}
  {{ O.end_1 }}, {{ O.radius_1 }},
  {{ O.end_2 }}, {{ O.radius_2 }}
  {% if (O.open | default(False)) %}open{% endif %}
{%     endif %}
{%     if O.type == 'sphere' %}
  {{ O.location }}, {{ O.threshold }}
{%     endif %}
{%     if O.type == 'cylinder' %}
  {{ O.end_1 }}, {{ O.end_2 }}, {{ O.radius }}
  {% if (O.open | default(False)) %}open{% endif %}
{%     endif %}
{%     if O.texture is defined %}
  texture { {{ O.texture }} }
{%     endif %}
{%     if O.scale is defined %}
  scale {{ O.scale }}
{%     endif %}
{%     if O.translate is defined %}
  translate {{ O.translate }}
{%     endif %}
{%     if O.interior is defined %}
  interior { {{ O.interior }} }
{%     endif %}
}
{%   endfor %}

{%- endmacro -%}

{% if includes is defined %}
{{ m_includes(includes) }}
{% endif %}

{% if camera is defined %}
{{ m_camera(camera) }}
{% endif %}

{% if globals is defined %}
{{ m_globals(globals) }}
{% endif %}

{% if lights is defined %}
{%   for L in lights %}
{{ m_light(L) }}
{%   endfor %}
{% endif %}

{% if background is defined %}
{{ m_background(background) }}
{% endif %}

{% if declares is defined %}
{{ m_declares(declares) }}
{% endif %}

{% if scene is defined %}
{{ m_scene(scene) }}
{% endif %}
